<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			.floatL{ float: left;}
			#example ul li{ display: inline-block; width: 200px; height: 20px; float: left;border: 1px solid red;}
			#example ul li:hover{background-color: blueviolet;}
			.red{background-color: blueviolet;}
			#example{width: 700px; height: 40px; margin: 0 auto; text-align: center;}
			#app{width: 640px; margin:  0 auto; }
		</style>

	</head>

	<body>
		<div class="container" id="box" v-cloak>
			<form role="form">

				<div class="form-group">
					<label for="username">用户名:</label>
					<input type="text" name="username" id="username" class="form-control" placeholder="请输入用户名" v-model="username" />

				</div>
				<div class="form-group">
					<label for="age">年龄:</label>
					<input type="text" name="age" id="age" class="form-control" placeholder="请输入年龄" v-model="age" />
				</div>
				<div class="form-group">
					<input type="button" class="btn btn-primary" value="添加" @click="add()" />
					<input type="reset" class="btn btn-danger" value="重置" />
				</div>
			</form>
			<hr>
			<table class="table table-bordered table-hover">
				<caption class="h2 text-info text-center">用户信息表</caption>
				<tr class="text-success">
					<th class="text-center">序号</th>
					<th class="text-center">姓名</th>
					<th class="text-center">年龄</th>
					<th class="text-center">操作</th>
				</tr>
				<tr class="text-center" v-for="item in myData">
					<td>{{$index}}</td>
					<td>{{item.name}}</td>
					<td>{{item.age}}</td>
					<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" @click="nowindex=$index">删除</button></td>
				</tr>

				<tr v-show="myData.length!=0">
					<td colspan="4" class="text-right"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" @click="nowindex=-2">全部删除</button></td>
				</tr>
				<tr v-show="myData.length==0">
					<td colspan="4" class="text-center text-muted">
						<p>暂无数据...</p>
					</td>
				</tr>
			</table>

			<!--模态框-->
			<div role="dialog" class="modal fade" id="layer" data-index="{{nowindex}}">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
							<h3 class="modal-title" v-if="nowindex!=-2">确定要删除吗?</h3>
							<h3 class="modal-title" v-else>确定要全部删除吗?</h3>
						</div>
						<div class="modal-body text-right">

							<button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
							<button class="btn btn-danger btn-sm" data-dismiss="modal" @click="deleteMeg(nowindex)">确认</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<hr>
		<div id="example">
		  <child></child>
		</div>
		<hr>
		
		
		<div id="app" >
		    <div class="pic" style="position: absolute;">
		        <img :src="now" />
		    </div>
		</div>   
	</body>

	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: "#box",
			data: {
				username:'',
				age:'',
				nowindex:"",
				title:'',
				myData: []
			},
			methods: {
				add:function(){
					this.myData.push({
						name:this.username,
						age:this.age
					});
					this.username='';
					this.age='';
				},
				deleteMeg: function(n) {
					if(this.nowindex=='-2'){
						this.title = '全部';
						this.myData=[];
					}else{
						this.myData.splice(n,1);
					}
					
				},
			}
		});
	
	
		//模板
		Vue.component('child', {
		 
		  // prop 可以用在模板内
		  // 可以用 `this.msg` 设置
		  template: '<div><ul><li :class="{red:item.otrue}" v-for="(index,item) in items" @click="du(index)">{{item.name}}</li></ul></div>',
		  data: function () {
			    return {
			      items:[
			  		{name:'首页',otrue:false},
			  		{name:'中间',otrue:false},
			  		{name:'尾页',otrue:false},
			  	],
		  		
		    }
		  },
		  methods:{
		  	du:function(index){
		  		this.items.forEach(function(item){ 
		  			item.otrue=false;
		  		});
		  		this.items[index]['otrue']=true;
		  	}
		  },
		})
		// 创建根实例
		new Vue({
		  el: '#example',
		  data:{
		  	changeColor:'blue',
		  },
		  methods:{
		  
		  }
		  
		  
		})

 
		var du = new Vue({
		    el:"#app",
		    data:{
		        pic:["http://www.fujin51.com/tshopwx/res/img/slide001.jpg","http://www.fujin51.com/tshopwx/res/img/slide002.jpg","http://www.fujin51.com/tshopwx/res/img/slide003.jpg"],
		        i:"0",
		        now:"http://www.fujin51.com/tshopwx/res/img/slide001.jpg",
		    },
		   mounted() {
		        alert(1);
		    },
		    methods:{
		 		du:function(){
		 			
		 			this.now=this.pic[0];
				      var _this=this;
				     setInterval(function(){
				       _this.i++;
				       _this.now=_this.pic[_this.i];
				        if(_this.i>=_this.pic.length-1){
				        _this.i=0;
				       }
				    },1000)
		 		}
		    }
		}) 
		Vue.nextTick(function () {
		  du.du();
		})
	</script>

</html>